[submodule "workspace/src/RoboND-Localization-Project"]
	path = workspace/src/RoboND-Localization-Project
	url = https://github.com/udacity/RoboND-Localization-Project.git
[submodule "workspace/rplidar_ros"]
	path = workspace/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "workspace/src/rplidar_ros"]
	path = workspace/src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
