<launch>
    <!-- Map server -->
    <arg name="has_map" default="true"/>
    <arg name="map_file" default="$(find hsa_bot)/maps/map.yaml"/>
    
    <group if="$(arg has_map)">
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    </group>

    <group unless="$(arg has_map)">
        <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <remap from="scan" to="/scan"/>
        </node>
    </group>

    <include file="$(find hsa_bot)/launch/robot_description.launch"/>
    
    <include file="$(find hsa_bot)/launch/amcl_real.launch"/>

    <!--launch Lidar-->
    <include file="$(find rplidar_ros)/launch/rplidar_a1.launch" />

    <!--run rw_interface python srcipt-->
    <node name="robot_controller" pkg="hsa_bot" type="robot_controller.py" output="screen"/>

</launch>
